body {
  background: #f0f0ff;
  display: block;
  height: 100vh;
  padding-top: 50px;
  font-family: "Poppins", sans-serif; }

h1 {
  color: #4D6CFA;
  font-size: 4rem;
  font-weight: 600; }

h2 {
  font-size: 2rem; }

.main-section {
  background: #fafafa;
  border-radius: 5px;
  max-width: 500px;
  padding: 50px 25px; }

.todo-form input {
  border: 0 solid;
  border-radius: 5px;
  padding: 10px;
  width: 87%; }

.todo-list {
  padding: 0; }
  .todo-list li {
    list-style-type: none;
    text-align: left;
    background: #fff;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 10px; }

#todo-add {
  border: none;
  border-radius: 5px;
  background-color: #4D6CFA;
  color: #fff;
  display: inline-block;
  padding: 10px;
  width: 50px; }

.delete {
  border: none;
  border-radius: 50%;
  background: #FF2E2E;
  color: #fff;
  display: inline;
  float: right;
  height: 25px;
  opacity: 0.5;
  transition: 0.3s;
  width: 25px; }
  .delete:hover {
    opacity: 1; }
