body {
  background: #f0f0ff; }

h1 {
  color: #4D6CFA;
  font-size: 3rem;
  font-weight: 600; }

h2 {
  font-size: 2rem; }

.main-section {
  background: #fafafa;
  border-radius: 5px;
  max-width: 500px;
  padding: 50px 25px; }

.todo-form input {
  border: 0 solid;
  border-radius: 5px;
  padding: 10px;
  width: 87%; }

.todo-list {
  padding: 0; }
  .todo-list li {
    list-style-type: none;
    text-align: left;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px; }

#todo-add {
  border: none;
  border-radius: 5px;
  background-color: #4D6CFA;
  color: #fff;
  display: inline-block;
  padding: 10px;
  width: 50px; }
